<html>
    <head>
        <title>To Do List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ task.getDescription }}</h1>
            <ul><li><h4>Due Date: {{ task.getDueDate }}</li></h4></ul>

            {% if categories is not empty %}
                <p>Here are the categories for this task:</p>
                <ul>
                    {% for category in categories %}
                        <li>{{ category.getName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="/tasks/{{ task.getId }}/edit">
                <button type='submit' class='btn btn-warning'>Edit this task</button>
            </form>

            <form action="/">
                <button type='submit' class='btn btn-info'>Home</button>
            </form>
        </div>
    </body>
</html>
